* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__body {
  background: #fa9c30;
  padding: 2rem 2.5rem;
}
.calc__input {
  width: 100%;
  padding: 1.25rem 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.calc__btn_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
}
.calc__btn {
  padding: 1.5rem 2rem;
  cursor: pointer;
  opacity: 0.7;
  font-weight: bold;
  font-size: 2rem;
}
.calc__btn:active {
  opacity: 0.5;
}