<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Calculator
    body
        .calc__body
            input.calc__input(type="text", disabled)
            .calc__btn_wrap
                button.calc__btn(value="1") 1
                button.calc__btn(value="2") 2
                button.calc__btn(value="3") 3
                button.calc__btn(value="4") 4
                button.calc__btn(value="5") 5
                button.calc__btn(value="6") 6
                button.calc__btn(value="7") 7
                button.calc__btn(value="8") 8
                button.calc__btn(value="9") 9
                button.calc__btn(value="0") 0
                button.calc__btn.calc__clear clear
                button.calc__btn.calc__equals =
                button.calc__btn(value="/") /
                button.calc__btn(value="*") *
                button.calc__btn(value="-") -
                button.calc__btn(value="+") +
        script(src="script.js")
